name: GitHub Classroom Workflow
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  unit-tests:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install the necessary packages
        run: pip3.10 install -r requirements.txt

      - name: Run unit tests for ticket service
        run: pytest -vs ticket_service/app/unit_tests/ticket.py

      - name: Run unit tests for flight service
        run: pytest -vs flight_service/app/unit_tests/flight.py

  deploy:
    name: Deploy to Yandex Cloud
    runs-on: ubuntu-latest
    needs: unit-tests
    steps:
      - uses: actions/checkout@v3

      - name: Enable Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker images
        run: docker compose build

      - name: Docker login YC
        run: echo '${{ secrets.YC_JSON_KEY }}' | docker login -u json_key --password-stdin cr.yandex

      - name: Push Docker images
        run: docker compose push

      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Prepare kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG_DATA }}" > kubeconfig.yaml
          echo "${{ secrets.KUBECONFIG_CA_DATA }}" > ca.pem

      - name: Deploy PostgreSQL
        run: |
          cp ./bonus_service/sql/init_db.sql ./k8s/postgres-chart/bonusdb-init-db.sql
          cp ./flight_service/sql/init_db.sql ./k8s/postgres-chart/flightdb-init-db.sql
          cp ./ticket_service/sql/init_db.sql ./k8s/postgres-chart/ticketdb-init-db.sql
          helm --kubeconfig ./kubeconfig.yaml upgrade --install db ./k8s/postgres-chart

#      - name: Deploy Database Aliases
#        run: |
#          helm upgrade --install db-aliases ./k8s/db-aliases-chart

      - name: Deploy Application
        env:
          POSTGRES_PASSWORD: test
        run: |
          helm --kubeconfig ./kubeconfig.yaml upgrade --install my-app ./k8s/app-chart

  autograding:
    name: Autograding
    needs: [deploy]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG_DATA }}" > ~/.kube/config
          chmod 600 ~/.kube/config

      - name: Make test script executable
        run: chmod +x ./scripts/test-script.sh

      - name: Run API Tests
        timeout-minutes: 5
        run: ./scripts/test-script.sh
        env:
          VARIANT: v1
          DEPLOYMENT_NAME: my-app-bonus-service-dep
          NAMESPACE: default